/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Här avslutas nollställningskoden*/

/*Deklarerar kolumnerna*/
#wrapper {
    

    border: 1px solid black;
    width: 980px ;
    height: 1720px ;
    margin: auto ;
}

#header {
    
    border: 1px solid black;
    width: 958px ;
    height: 160px ;
    margin: 10px ;
    text-decoration: #FFFFFFF;
    background-image: url(../pics/solnedgang.png);
}

#navigation {
    
    border: 1px solid black;
    float: left;
    width: 140px ;
    height: 330px ;
    margin: 10px ;
    background-color: #A3EAE5 ;
    list-style-type: none;
    background-image: url(../pics/logga.png);
    background-position: 0 180px;
    background-repeat: no-repeat;
    
}


#content {
    
    border: 1px solid black;
    float: left;
    width: 775px ;
    height: auto ;
    margin: 10px ;
    padding: 10px;
    background-color: #60D5AC ;
    color: #FFFFFF ;
    font-family: Georgia;
    
}

#content ul 
{
    margin: 10px;
}

#content ol 
{
    margin: 10px;
}

#content dl 
{
    margin: 10px;
}

/*Anger bildens position och ger en fin ram*/
.image
{
    float: right;
    margin: -1px;
}

.portrattfoto
{
    float: left;
    margin: 10px;
}

.text
{
    float left 
}

 /* Deklarerar typografin */
h1 { color: #FFFFFF; }
h2 { color: #2E6646; }
h3 { color: #1D761D; }
p  { color: #FFFFFF ; }

h1 { font-size: 45px;  
     font-family: Georgia;
     margin-top: 100px;
     margin-left: 10px;
     text-shadow: 1px 1px 1px green;
}

h2 { font-size: 35px; 
     font-family: Georgia;
     text-decoration: none;
     text-align: center;
}

h3 { font-size: 25px; 
     font-family: Georgia;
     margin: 20px;
     text-decoration: none;
     border-bottom: solid 1px green;
     border-top: solid 1px green;
}

h4 { font-size: 20px; 
     font-family: Georgia;
     margin: 3px;
     text-decoration: none;
}

p { font-size: 17px; 
    font-family: Georgia;
    margin:10px;
}

/* De klickbara blocken. Färg, storlek osv.*/
.navigation {
width: 100px;
height: 23px;
margin: 10px;
border: 1px solid black;
background: #5073C3;
}

/*Det aktiva klickbara blocket*/
.navigation:hover { background-color: #60D5AC; }

.active {
display: inline-block; 
width: 100px;
height: 23px;
margin: 10px;
border: 1px solid black;
background: #60D5AC;
}

/*Anger färgen till länkarna*/
a:link {color:000000;}     /* unvisited link */
a:visited {color:#000000;}     /* visited link */

/*meny ikonerna för laborationssidan*/
#menu-list a
{
    width:95px;
    height: 24px;
    display:block;
    background-image: url(../pics/sprite.png);
    background-repeat: no-repeat;
    padding-left:25px;
    color:black;
}
#menu-list ul {
    list-style-type:none;
}
#menu-list li 
{
    width: 100%;
    display: block;
    margin:right;
}

#house-icon { background-position: 0 -48px }
#house-icon:hover { background-position: 0 0px }

#tool-icon { background-position: 0 -144px }
#tool-icon:hover { background-position: 0 -96px }

#person-icon { background-position: 0 -240px }
#person-icon:hover { background-position: 0 -192px }

#mail-icon { background-position: 0 -336px }
#mail-icon:hover { background-position: 0 -288px }

img { max-width: 100%; }

#hcard-Sandra-Eva-Marika-Hansson
{
    padding:10px;
    border:1px;
    border-color:green;
    border-style:solid;
}






 
