/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Här avslutas nollställningskoden*/

#wrapper {
    
    border: 1px solid black;
    width: 980px ;
    height: 1720px ;
    margin: auto ;
}

#header {
    
    border: 1px solid black;
    width: 958px ;
    height: 160px ;
    margin: 10px ;
    text-decoration: #FFFFFFF;
    background-image: url(../pics/solnedgang.png);
}

#navigation {
    
    border: 1px solid black;
    float: left;
    width: 140px ;
    height: 330px ;
    margin: 10px ;
    background-color: #A3EAE5 ;
    list-style-type: none;
    background-image: url(../pics/logga.png);
}

#content {
    
    border: 1px solid black;
    float: left;
    width: 775px ;
    height: 1500px ;
    margin: 10px ;
    padding: 10px;
    background-color: #60D5AC ;
    color: #FFFFFF ;
    font-family: Georgia;
    
}

#content ul 
{
    margin: 10px;
}

#content ol 
{
    margin: 10px;
}

#content dl 
{
    margin: 10px;
}

.image
{
    float: right;
    border-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    margin: -1px;
}

.text
{
    float left 
}

h1 { color: #FFFFFF; }
h2 { color: #2E6646; }
h3 { color: #1D761D; }
p { color: #FFFFFF ; }

h1 { font-size: 45px;  
     font-family: Georgia;
     margin-top: 100px;
     margin-left: 10px;
     text-shadow: 1px 1px 1px green;
}

h2 { font-size: 35px; 
     font-family: Georgia;
     text-decoration: none;
     text-align: center;
}

h3 { font-size: 25px; 
     font-family: Georgia;
     margin: 20px;
     text-decoration: none;
     border-bottom: solid 1px green;
     border-top: solid 1px green;
}

p { font-size: 17px; 
    font-family: Georgia;
    margin: 10px;
}

.navigation {

display: inline-block; 
width: 100px;
margin: 10px;
border: 1px solid black;
background: #5073C3;
}

.navigation:hover { background-color: #60D5AC; }

.active {
display: inline-block; 
width: 100px;
margin: 10px;
border: 1px solid black;
background: #60D5AC;
}

a:link {color:000000;}     /* unvisited link */
a:visited {color:#000000;}     /* visited link */



 
